{{! arguments: }}
{{! progressCurrent? }}
{{! progressStart? }}
{{! progressEnd? }}
{{! progressPercent? }}
{{#unless progressCurrent}}
  {{assign progressCurrent=0}}
{{/unless}}
{{#unless progressStart}}
  {{assign progressStart=0}}
{{/unless}}
{{#unless progressEnd}}
  {{assign progressEnd=100}}
{{/unless}}
{{#unless progressPercent}}
  {{assign
    progressPercent=(calcPercent progressCurrent progressStart progressEnd)
  }}
{{/unless}}
<div class="flex justify-between my-1">
  <span
    class="text-base font-medium text-blue-700 dark:text-white"
  >{{progressLabel}}</span>
  <span
    class="text-sm font-medium text-blue-700 dark:text-white"
  >{{progressPercent}}%
    {{#if showProgressValue}}({{progressCurrent}}/{{progressEnd}}){{/if}}</span>
</div>
<div class="w-full bg-gray-200 rounded-full h-4 dark:bg-gray-700">
  <div
    class="bg-blue-600 h-4 rounded-full"
    style="width: {{progressPercent}}%"
  ></div>
</div>